<h1>Editing Listing</h1>

<%= render 'form', listing: @listing %>

<%# <%= link_to 'Show', shop_path(@listing.user.username, @listing.id) %>
<%= link_to 'Back', shop_path(@listing.user.username, @listing.id) %>
