<h1>Home#page</h1>
<p>Find me in app/views/home/page.html.erb</p>

<%# <button type="button" class="btn btn-primary btn-lg">Large button</button> %>
<%= link_to "Add New Sticker", new_listing_path, class: "btn btn-primary btn-lrg" %>